.App {
  text-align: center;
}

.weather-card {
  background-color: aliceblue;
  border: 0;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: relative;
  margin: 15px;
}

.form-input {
  width: 20%;
  border-radius: 5px;
  position: relative;
  height: 3vh;
}
::placeholder {
  text-align: center;
  color: grey;
}

button {
  height: 27px;
  border-radius: 5px;
  position: relative;
  margin-left: 10px;
}
